---
layout: default
rdf_prefix_path: _data/Prefixes.pref
---

<div class="module">
  <i>name:</i> {{page.rdf | rdf_property: "rdfs:label"}}<br/>
  <i>manual:</i> {{page.rdf | rdf_property: "askm:manual"}}<br/>

  {% assign tools = page.rdf | rdf_property: "askm:tool", nil, true %}
  <div class="tools">
  <h3>tools</h3>
  {% for tool in tools %}
  <p>
      <h5>{{tool | rdf_property: "rdfs:label"}}</h5>
      <i>name:</i> {{tool | rdf_property: "rdfs:label"}}<br/>
      <i>stock-room:</i> {{tool | rdf_property: "schema:stockroom"}}<br/>
  </p>
  {% endfor %}
  </div>
</div>
